<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fuel Price</title>
    <style>
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: 2.5rem;
      }
      a {
        color: blue;
        text-decoration: none;
      }
      .container {
        display: grid;
        height: 100vh;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <center class="container">
      <div>
        <h1>Fuel Price API</h1>
        <p>Public API to get fuel price in India in JSON format.</p>
        <p>
          See
          <a
            href="https://github.com/mdfarhaan/fuel-price-api/blob/main/README.md"
            >Docs</a
          >
        </p>
      </div>
    </center>
  </body>
</html>
